@use "../components/partials/mixins" as *;
@use "../components/partials/variables" as *;
/**************************
    * Hlavní div
    **************************/
.aboutUs {
  position: relative;
  display: inline;
  background: $content-background;
  box-shadow: $box-shadow;
  text-align: left;
  width: 80%;
  .GridContainer {
    display: grid;
    grid-template-areas:
      "TextContent Gridphoto"
      "TextContent Gridphoto1";
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
    .Gridphotos {
      grid-area: Gridphoto;
      .backgroundAboutMe1 {
        background-image: var(--AboutMe2);
        background-size: cover;
        background-position: top;
        height: 60rem;
        box-shadow: $box-shadow;
        margin-bottom: 1rem;
        transition: 1s;
        @include border-radius(300px 100px 30px 400px);
        @media (hover: hover) {
          &:hover {
            transform: scale(1.1) rotate(10deg);
          }
        }
        @media screen and (max-width: 1550px) {
          height: 60rem;
        }
      }
      .backgroundAboutMe {
        grid-area: Gridphoto1;
        background-image: var(--AboutMe);
        background-position: top;
        background-size: cover;
        height: 25rem;
        @include border-radius(250px 100px 220px 100px);
        box-shadow: $box-shadow;
        transition: 1s;
        @media (hover: hover) {
          &:hover {
            transform: scale(1.1) rotate(10deg);
          }
        }
        @media screen and (max-width: 1550px) {
          height: 50rem;
        }
      }
    }
    .GridItem {
      grid-area: TextContent;

      h2 {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
      }
      p {
        text-align: justify;
        line-height: 1.5;
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
      }
    }
    @media screen and (max-width: 1300px) {
      grid-template-areas: "TextContent ";
      grid-template-columns: 1fr;
      gap: 0;
      .Gridphotos,
      .backgroundParaPicture01,
      .backgroundParaPicture03,
      .backgroundParaPicture02 {
        display: none;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  button {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .btn {
    font-size: 1.2rem;
    color: $BTN-color-text;
    &:active {
      color: $Red-color;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

/**************************
    * Pod tlačítkem
    **************************/
.team-content {
  margin-top: 1rem;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;

  h3 {
    text-align: center;
  }
  p {
    width: 100%;
  }
  .contact {
    position: relative;
    display: flex;
    width: 380px;
    height: auto;
    transition: 0.5s;
    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 50px;
      width: 50%;
      height: 103%;
      background: var(--contact-actvie-card);
      @include border-radius(8px);
      transform: skewX(15deg); /* zalomení bílého pozadí */
      transition: 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50px;
      width: 50%;
      height: 100%;
      background: var(--contact-actvie-card);
      @include border-radius(8px);
      transform: skewX(15deg); /* zalomení bílého pozadí */
      transition: 0.5s;

      filter: blur(30px); /* rozostření */
      transition: 0.5s;
    }
    &:hover::before,
    &:hover::after {
      transform: skewX(0deg);
      left: 20px;
      width: calc(100% - 190px); //<= uprava velikosti zeleného pozadí
    }
    .squareSpan {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 50;
      pointer-events: none;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: $span-contact;
        backdrop-filter: blur(10px); /* rosostření */
        opacity: 0;
        transition: 0.5s;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        animation: animate 2s ease-in-out infinite;
        @keyframes animate {
          /* hýbání čtverečku */
          0%,
          100% {
            transform: translateY(10px);
          }

          50% {
            transform: translateY(-10px);
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: $span-contact;
        backdrop-filter: blur(10px); /* rosostření */
        opacity: 0;
        transition: 0.5s;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        animation: animate 3s ease-in-out infinite;
      }
    }
    &:hover .squareSpan::before {
      top: -30px;
      left: -10px;
      width: 100px;
      height: 100px;
      opacity: 1;
    }
    //
    &:hover .squareSpan::after {
      bottom: -70px;
      right: 5px;
      width: 100px;
      height: 100px;
      opacity: 1;
    }
    .content {
      position: relative;

      left: 0;
      padding: 20px 40px;
      background: $content-background;
      box-shadow: $box-shadow;
      border-radius: 8px;
      backdrop-filter: blur(10px);
      z-index: 1;
      transform: 0.5s;
      text-align: left;
      min-height: 65rem;
      p {
        font-size: 1rem;
      }
      .face {
        height: 15rem;
        background-color: $Green;
        @include border-radius(50%);
        transition: 1s;
        @media (hover: hover) {
          &:hover {
            height: 25rem;
            transform: scale(1.1);
          }
        }
      }
    }
    //druhý span
    // &:nth-of-type(2):hover .squareSpan::after {
    //   bottom: -70px;
    // }
    // //posdlení div
    // &:last-of-type {
    //   height: 640px;

    //   &::before {
    //     height: 100%;
    //     top: 3px;
    //     left: 80px;
    //   }
    //   &::after {
    //     height: 100%;
    //   }
    //   @media (max-width: 768px) {
    //     height: 100%;
    //   }
    // }
  }
}
/****************************
  *  Komponenta  s koňmi
 *************************************/

.horse-content-conatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
