@use "../components/partials/mixins" as *;
@use "../components/partials/variables" as *;
/**************************
    * Hlavní div
    **************************/
.aboutUs {
  position: relative;
  display: inline;
  background: $content-background;
  box-shadow: $box-shadow;
  text-align: left;
  width: 80%;
  .GridContainer {
    display: grid;
    grid-template-areas:
      "TextContent Gridphoto"
      "TextContent Gridphoto1";
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
    .Gridphotos {
      grid-area: Gridphoto;
      .backgroundAboutMe1 {
        background-image: var(--AboutMe2);
        background-size: cover;
        background-position: top;
        height: 60rem;
        box-shadow: $box-shadow;
        margin-bottom: 1rem;
        transition: 1s;
        @include border-radius(300px 100px 30px 400px);
        @media (hover: hover) {
          &:hover {
            transform: scale(1.1) rotate(10deg);
          }
        }
        @media screen and (max-width: 1550px) {
          height: 60rem;
        }
      }
      .backgroundAboutMe {
        grid-area: Gridphoto1;
        background-image: var(--AboutMe);
        background-position: top;
        background-size: cover;
        height: 25rem;
        @include border-radius(250px 100px 220px 100px);
        box-shadow: $box-shadow;
        transition: 1s;
        @media (hover: hover) {
          &:hover {
            transform: scale(1.1) rotate(10deg);
          }
        }
        @media screen and (max-width: 1550px) {
          height: 50rem;
        }
      }
    }
    .GridItem {
      grid-area: TextContent;

      h2 {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
      }
      p {
        text-align: justify;
        line-height: 1.5;
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
      }
    }
    @media screen and (max-width: 1300px) {
      grid-template-areas: "TextContent ";
      grid-template-columns: 1fr;
      gap: 0;
      .Gridphotos,
      .backgroundParaPicture01,
      .backgroundParaPicture03,
      .backgroundParaPicture02 {
        display: none;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  button {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .btn {
    // max-height: 3rem;
    font-size: 1.2rem;
    color: $BTN-color-text;
    &:active {
      color: $Red-color;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

/**************************
    * Pod tlačítkem
    **************************/
.button-with-label {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  .btn {
    margin-left: 0;
  }
  .button-label {
    // margin-bottom: 15px;
    position: absolute;
    top: -1.2rem;
    left: 50%;          // Přidáno - umístí levý okraj do středu rodičovského elementu
    transform: translateX(-50%);
    font-size: 1rem;
    color: var(--light-black-color);
    opacity: 0.7;
    text-align: center;
    width: max-content;
  }
}
/****************************
  *  Komponenta  s koňmi a lidmi
 *************************************/
.horse-content-conatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
