@use "../components/partials/mixins" as *;
@use "../components/partials/variables" as *;

.BankAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
  color: $black-color;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  .ColorRed {
    color: $Purpe-color;
    font-weight: bold;
    font-size: 1.2rem;
  }
  p {
    font-size: 0.9rem;
  }
  .horseshoe {
    width: 11rem;
    height: 7.5rem;
    background: $Gold-color;
    position: absolute;
    top: -1rem;
    @include border-radius(50%);
  }
}
