@use "../components/partials/mixins" as *;
@use "../components/partials/variables" as *;
.miniMenu {
  li {
    margin-top: 1rem;
    a {
      font-size: 0.9rem !important;
    }
  }
}

.IndianHorse {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 100%;
  height: 100%;
  @include border-radius(10px);
  opacity: 0.3;
  object-fit: cover;
  overflow: hidden;
}
