@use "../components/partials/mixins" as *;
@use "../components/partials/variables" as *;

@include ActivityComponent;

.backgroundPicture010 {
  background-image: var(--HipoContact);
  @include PictureAbilities(-0.5rem);
}
.backgroundPicture020 {
  background-image: var(--HipoContact2);
  background-position: 55% 40%;
  @include SeconPictureAbilite;
}
.contactBreadcrumb {
  .breadcrumb-navigation {
    @media screen and (max-width: 1295px) {
      top: 4.8rem;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
      max-width: 250px;
      .breadcrumb-current {
        .breadcrumb-dropdown {
          left: 50%;
          transform: translateX(-50%);
          min-width: 400px;
          top: 150%;
        }
      }
    }
    @media screen and (max-width: 669px) {
      top: 7.5rem;
      .breadcrumb-current {
        font-size: 0.8rem;
      }
    }
    @media screen and (max-width: 470px) {
      .breadcrumb-current {
        .breadcrumb-dropdown {
          min-width: 350px;
          left: 25%;
        }
      }
    }
    @media screen and (max-width: 370px) {
      .breadcrumb-current {
        .breadcrumb-dropdown {
          min-width: 300px;
        }
      }
    }
    @media screen and (max-width: 363px) {
      top: 9.5rem;
    }
  }
}
