@use "../components/partials/mixins" as *;
@use "../components/partials/variables" as *;

/**Skupina koní v navigaci*/
.navPicture {
  position: fixed;
  display: flex;
  background-image: url("/img/horseHerd.png");
  width: 20rem;
  height: 10rem;
  background-size: cover;
  top: -2.5rem;
  left: 15rem;
  z-index: 10000000000000000;
  transition: 1s;
  &.scrolled {
    width: 20rem;
    height: 7rem;
    background-size: cover;
  }
  @media screen and (max-width: 950px) {
    display: none;
  }
  @media screen and (min-width: 1921px) {
    left: calc(50% - 700px);
  }
}
