@use "../partials/mixins" as *; 
@use "../partials/variables" as *; 

.navPicture{ 
    position: fixed; 
    display: flex; 
    background-image: url("../img/horseHerd.png"); 
    width: 20rem;   
    height: 10.0rem;
    background-size: cover; 
    top: -2.5rem; 
    left: 15rem;
}