@use "./components/partials/mixins" as *;
@use "./components/partials/variables" as *; 

.cookie-dialog { 
left: 50rem; 
top: 20rem;
  border: none;
  border-radius: 8px;
  box-shadow: $box-shadow;
  padding: 1.5rem;
  max-width: 500px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: white;
  z-index: 1000; 
  &::backdrop{ 
     background-image: linear-gradient(
        45deg,
        magenta,
        rebeccapurple,
        dodgerblue,
        green
    ); 
    opacity: 0.75;
  } 
  button{ 
    background-color: $Yellow;
    color: $black-color;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;  
    letter-spacing: 2px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer; 
    
    transition: background-color 0.3s;
    &:hover{ 
      background-color: $Green;
    }
  }  
  .button-container{ 
    margin-top: 5px;
  }
  p{ 
    text-align: justify;
  } 
  //
 
  //cokie možnosti
  .cookie-preferences{ 
    text-align: left;  
    // display: none;
    label{ 
        display: block; 
        input{ 
            transform: scale(1.5);
            margin: 1rem;
        } 
        p{ 
            display: none;
            text-align: justify; 
            letter-spacing: 2px; 
            font-size: 0.9rem; 
            font-style: italic;             
            background-color: $GreyColor; 
            padding: 5px; 
            @include border-radius(5px);
        } 
        i{ 
            margin-left: 1rem; 
        }
        &:hover{
            p{ 
                display: block;
            }
        }
    }
  } 
  //
   .more{ 
   
    text-align: left; 
    margin-top: 1rem; 
    
    label{  
        background-color: $GreyColor; 
        padding: 5px;
        font-size: 1.5rem; 
        @include border-radius(5px);
        transition: 0.3s;
        i{  
            font-size: 1.5rem;
            margin-right: 1rem;
        }
        &:hover{
            background-color: $Green;
        }
    }   
  } 
}