/* komponenty */
@use "./components/partials/mixins" as *;
@use "./components/partials/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Single+Day&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #e0d8d8;
  min-height: 100vh;
  min-height: 100dvh;
}
/** root zastává fci body :) **/
#root {
  display: flex;
  font-family: $body-font;
  flex-direction: column;
  //   align-items: center;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}
.container {
  background-color: #ca2929;
}
/** hlavička **/

// Dark-Light Mode
@include dark-mode;

/************/
.navbar {
  font-family: var(--switcher-family-font);
  background-color: var(--nav-color);
  @include nav-bar;
  ul {
    display: flex;
    gap: 40px;
    width: 80%;
    justify-content: center;
    align-items: center;
    z-index: 10041121;
    li {
      list-style: none;
      width: -moz-fit-content;
      width: fit-content;
      font-size: 1.7em;
      transition: 0.5s;
      a {
        position: relative;
        text-decoration: none;
        color: var(--white-color);
      }
    }
  }
}
