@import './components/partials/mixins'; 
@import './components/partials/variables';

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0d8d8;
} 

.container{ 
    background-color: #ca2929; 
} 

.navbar{ 
    background-color: var(--nav-color); 
    @include nav-bar;
}