$body-color: #e0d8d8;
// $nav-color: rgba(17, 37, 150, 0.5);
$nav-color: rgba(127, 224, 61, 0.5);
$white-color: #fff;
$body-font: "Roboto", sans-serif;
$font-size-hamburger: 2.8rem;
$btn-hover: #f1c40f;
/**Základní barvy **/
$Yellow: #f1c40f;
$Green: rgba(127, 224, 61, 0.5);
$black-color: #000;
$GreyColor: #a7a6a6;
$Red-color: red;
$Purpe-color: #490894;
$BTN-color-text: rgb(85, 26, 139);
$contact-actvie-card: linear-gradient(315deg, #f1c40f, #2ecc71);
$under-ligting: radial-gradient(
  circle farthest-corner at 10% 20%,
  rgb(15, 223, 32) 17.8%,
  rgb(255, 50, 4) 100.2%
);
$span-contact: rgba(255, 255, 255, 0.1);
$content-background: rgba(255, 255, 255, 0.05);
$box-shadow: 2px 3px 16px 10px $black-color;
$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
$Gold-color: radial-gradient(
  circle farthest-corner at 10% 20%,
  rgba(225, 198, 113, 1) 17.8%,
  rgba(184, 134, 11, 1) 100.2%
);
/*Přepínač*/
$switcher-font: MedievalSharp, Arial, Helvetica, sans-serif;
$slider-color: #f1c40f;
$slider-active: #2ecc71;
/** Veliksoti */
$footer-height: 7.5rem;
/** Obrázky*/
$AboutMe: url("/img/tel1.jpg");
$AboutMe2: url("/img/Onas.jpg");
$Hoby-Horsing: url("/img/akce12.jpg");
$Hoby-Horsing2: url("/img/akce14.jpg");
$Horse-Club: url("/img/akce04.jpg");
$Horse-Club2: url("/img/Latney001.jpg");
$Pony-School: url("/img/PonySchool.jpg");
$Pony-School2: url("/img/akce15.jpg");
$Para-Riding: url("/img/Parariding001.jpg");
$Para-Riding2: url("/img/ParaRiding002.jpg");
$Para-Riding3: url("/img/Latney001.jpg");
$HipoSoc: url("/img/akce03.jpg");
$HipoSoc2: url("/img/img2.jpg");
$HipoContact: url("/img/img5.jpg");
$HipoContact2: url("/img/img6.jpg");
$ContactUs: url("/img/Z1Luis001.jpg");
$ContactUs2: url("/img/akce09.jpg");
$IndiananHorse: url("/img/indianHorse.png");
/**Sub Menu*/
$Sub-menu-image: url("/img/indianHorse.png");

:root {
  --body-color: #{$body-color};
  --nav-color: #{$nav-color};
  --white-color: #{$white-color};
  --black-color: #{$black-color};
  --btn-hover: #{$btn-hover};
  --under-lighting: #{$under-ligting};
  /*Přepínač*/
  --switcher-family-font: #{$switcher-font};
  --slider-color: #{$slider-color};
  --slider-active: #{$slider-active};
  /*karty itemu*/
  --contact-actvie-card: #{$contact-actvie-card};
  /*Obrázky*/
  --AboutMe: #{$AboutMe};
  --AboutMe2: #{$AboutMe2};
  --Hoby-Horsing: #{$Hoby-Horsing};
  --Hoby-Horsing2: #{$Hoby-Horsing2};
  --Horse-Club: #{$Horse-Club};
  --Horse-Club2: #{$Horse-Club2};
  --Pony-School: #{$Pony-School};
  --Pony-School2: #{$Pony-School2};
  --Para-Riding: #{$Para-Riding};
  --Para-Riding2: #{$Para-Riding2};
  --Para-Riding3: #{$Para-Riding3};
  --HipoSoc: #{$HipoSoc};
  --HipoSoc2: #{$HipoSoc2};
  --HipoContact: #{$HipoContact};
  --HipoContact2: #{$HipoContact2};
  --ContactUs: #{$ContactUs};
  --ContactUs2: #{$ContactUs2};
  --IndiananHorse: #{$IndiananHorse};
}
[data-theme="dark"] {
  --body-color: #333;
  --nav-color: rgba(165, 42, 13, 0.5);
  --black-color: #fff;
  --contact-actvie-card: linear-gradient(315deg, #c9161f, #0c298a);
  --under-lighting: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(238, 197, 12, 0.856) 17.8%,
    rgb(62, 228, 12) 100.2%
  );
  --AboutMe: url("/img/akce02.jpg");
  --AboutMe2: url("/img/contactTerapy.jpg");
  --Hoby-Horsing: url("/img/akce11.jpg");
  --Hoby-Horsing2: url("/img/trofej1.jpg");
  --Horse-Club: url("/img/akce15.jpg");
  --Horse-Club2: url("/img/img1.jpg");
  --Pony-School: url("/img/akce14.jpg");
  --Pony-School2: url("/img/akce13.jpg");
  --Para-Riding: url("/img/img2.jpg");
  --Para-Riding2: url("/img/Nachos005.jpg");
  --Para-Riding3: url("/img/akce03.jpg");
  --HipoSoc: url("/img/img5.jpg");
  --HipoSoc2: url("/img/img0.jpg");
  --HipoContact: url("/img/img4.jpg");
  --HipoContact2: url("/img/Onas.jpg");
  --ContactUs: url("/img/Z3Drago001.jpg");
  --ContactUs2: url("/img/Z4Azazela002.jpg");
}
